---
- name: Prepare variables and paths
  ansible.builtin.include_tasks: 01-prepare-variables.yml

- name: Prepare directory and templates
  ansible.builtin.include_tasks: 02-prepare-directory-and-templates.yml

- name: Prepare Docker images
  ansible.builtin.include_tasks: 03-prepare-images.yml

- name: Deploy with docker compose
  ansible.builtin.include_tasks: 04-deploy-compose.yml

- name: Cleanup temporary files
  ansible.builtin.include_tasks: 05-cleanup.yml
