---
- name: Setup Docker Buildx
  ansible.builtin.include_tasks: 01-setup-buildx.yml

- name: Prepare repository
  ansible.builtin.include_tasks: 02-prepare-repository.yml

- name: Login to Docker registry
  ansible.builtin.include_tasks: 03-docker-login.yml

- name: Build and push Docker image
  ansible.builtin.include_tasks: 04-build-and-push.yml

- name: Cleanup temporary files
  ansible.builtin.include_tasks: 05-cleanup.yml
